@using pilotlightjournal.org.Models
@model List<ContributorViewModel>
@{
    ViewBag.Title = "Contributors";
    Layout = Request.Browser.IsMobileDevice
        ? "~/Views/Shared/_MobileArticleLayout.cshtml"
        : "~/Views/Shared/_ArticleLayout.cshtml";
}

<div id="contributors-title">Contributors</div>
<div id="contributors-container">
    @foreach (ContributorViewModel cvm in Model.Where(x => x.Contributor.Bio != null)) {
        <div class="contributor">
            <a name="@cvm.Contributor.FirstName-@cvm.Contributor.LastName"></a>
            <div class="info">
                <div class="name-and-issues">
                    <span class="name">@cvm.Contributor.FirstName @cvm.Contributor.LastName</span>
                    <span class="issues">
                       @{
                           var issueText = "Issue: ";
                           for(int i=0; i < cvm.Issues.Count; i++){
                               if(i != 0) {issueText += ", ";}
                               issueText += Html.NavLink(cvm.Issues[i].Name, "Index", new { controller = "Issue", issueId = cvm.Issues[i].IssueId });
                           }
                           issueText += "";
                       }
                       @Html.Raw(issueText)                       
                    </span>
                </div>
                <div class="bio">@Html.Raw(cvm.Contributor.Bio)</div>
            </div>
            @if (!String.IsNullOrEmpty(cvm.Contributor.ImagePage)) {
                <div class="image">
                    <img alt="@cvm.Contributor.FirstName @cvm.Contributor.LastName" src="@Url.Content(cvm.Contributor.ImagePage)" /><br />
                    @if (!String.IsNullOrEmpty(cvm.Contributor.ImageCredit)) {<span class="credit">Photo by: @cvm.Contributor.ImageCredit</span>}
                </div>
                
            }
            <div style="clear:both; height:0px;">&nbsp;</div>
        </div>
    }
</div>
@section Scripts{}