@model pilotlightjournal.org.Models.Issue
@using pilotlightjournal.org.Models           

@{
    ViewBag.Title = "Pilot Light Journal - " + Model.Name + " - " + Model.ReleaseDate.ToString("MMMM yyyy");
    Layout = Request.Browser.IsMobileDevice
        ? "~/Views/Shared/_MobileArticleLayout.cshtml"
        : "~/Views/Shared/_ArticleLayout.cshtml";
}
@*@section AdditionalHead{
    <meta property="og:title" content="Pilot Light"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.pilotlightjournal.org"/>
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Pilot Light"/>
    <meta property="fb:app_id " content="107746452663986"/>
    <meta property="og:description"
          content="&quot;We just wanted the heart's pilot light to keep on burning. / I remember how there, at the edge of the world, was / another world.&quot; ~Richard Jackson"/>
}*@
<div id="issue1-index">
    <div id="issue1-index-info">
        <div id="issue1-index-title">@Model.Name</div>
        <div id="issue1-index-works">
            <ul>
            @if (Model.Works != null) {
                foreach (Work w in Model.Works.OrderBy(w => w.Order)) {
                    <li>
                        <span class="issue1-index-work-title"><a href="@Url.Action("Issue", Model.Controller, new { workId = w.WorkId , page = 1 })">@Html.Raw(w.Title)</a></span>
                        &nbsp;-&nbsp;
                        <span class="issue1-index-work-author">@Html.ActionLink(w.Contributor.FirstName + " " +w.Contributor.LastName,
                              "Contributors", null, null, null, w.Contributor.FirstName + "-" + w.Contributor.LastName, 
                              new { area = "", controller = "Home" }, null)</span>
                    </li>

                }
            }
            </ul>
        </div>
    </div>
    <div id="issue1-index-image-container">
        <img id="issue1-index-image" alt="" src="@Url.Content("~/Content/Industrial_Texture.jpg")" width="475" />
        <span class="image-credit">Photo by: Wolfram Schubert</span>
    </div>
</div>

@section Scripts {}
