@model pilotlightjournal.org.Models.Issue
@using pilotlightjournal.org.Models           

@{
    ViewBag.Title = "Pilot Light Journal - " + Model.Name;
    Layout = Request.Browser.IsMobileDevice
        ? "~/Views/Shared/_MobileArticleLayout.cshtml"
        : "~/Views/Shared/_ArticleLayout.cshtml";
}
<div id="issue1-index">
    <div class="info">
        <div class="title">@Model.Name</div>
        <div class="works">
            <ul>
            @if (Model.Works != null) {
                foreach (Work w in Model.Works.OrderBy(w => w.Order)) {
                    <li>
                        <span class="work-title"><a href="@Url.Action("Issue", Model.Controller, new { workId = w.WorkId , page = 1 })">@Html.Raw(w.Title)</a></span>
                        &nbsp;-&nbsp;
                        <span class="author">@Html.ActionLink(w.Contributor.FirstName + " " +w.Contributor.LastName,
                              "Contributors", null, null, null, w.Contributor.FirstName + "-" + w.Contributor.LastName, 
                              new { area = "", controller = "Home" }, null)</span>
                    </li>

                }
            }
            </ul>
        </div>
    </div>
    <div class="image-container">
        <img class="image" alt="" src="@Url.Content("~/Content/Industrial_Texture.jpg")" width="475" />
        <span class="image-credit">Photo by: Wolfram Schubert</span>
    </div>
    <div class="issn">ISSN: 2164-1633</div>
</div>

@section Scripts {}
