@using pilotlightjournal.org.Models
@model WorkViewModel
@{
    ViewBag.Title = "Pilot Light Journal - " + Model.Work.Issue.Name + " - " +
        Model.Work.Contributor.FirstName + " " + Model.Work.Contributor.LastName;
    Layout = Request.Browser.IsMobileDevice
        ? "~/Views/Shared/_MobileArticleLayout.cshtml"
        : "~/Views/Shared/_ArticleLayout.cshtml";
    
}
<div id="article-container">
    <article id="article">
        <div class="article-paging">
            <ul>
                @foreach (pilotlightjournal.org.Models.Page p in Model.Work.Pages) {
                    <li>@Html.NavLink(p.Order.ToString(), "Issue",
                         new { workId = Model.Work.WorkId, page = p.Order })</li>
                }   
                <li>@Html.NavLink("View All", "Issue", new { workId = Model.Work.WorkId, page = 0 })</li>
            </ul>
        </div>
        <div id="article-title">@Model.Work.Title</div>
        <div id="article-author">@Model.Work.Contributor.FirstName @Model.Work.Contributor.LastName</div>
        @foreach (pilotlightjournal.org.Models.Page p in Model.Work.Pages) {
            if (Model.Page == 0 || Model.Page == p.Order) {
                Html.RenderPartial(p.Url); 
            }
        }                
        <div class="article-paging">
            <ul>
                @foreach (pilotlightjournal.org.Models.Page p in Model.Work.Pages) {
                    <li>@Html.NavLink(p.Order.ToString(), "Issue", 
                        new { workId = Model.Work.WorkId, page = p.Order })</li>
                }   
                <li>@Html.NavLink("View All", "Issue", new { workId = Model.Work.WorkId, page = 0 })</li>
            </ul>
        </div>
    </article>
</div>

@section scripts{

}