<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p>
            If as Treichler maintains, AIDS is also constructed through language, then Dent’s use of the vocabulary 
            of medicine (the MRI , for instance) read through Sylvia Plath’s representation of the “cold and 
            planetary” mindscape as a way to describe a female experience of living with HIV and AIDS. Refracted 
            through the words of one of the foremost—and most famous—twentieth century American women poets who 
            wrote so openly about death, Dent’s poem takes on a new valence. Death, in Dent’s version of the poem, 
            is always resolutely physical while she extends Plath’s metaphors and weaves them with her own. The 
            poem never flinches from its depiction of the material dying body: “the scraped out bottom of a uterine 
            nothing” (@Html.ActionLink("22", "Nicole_Cooley", "Issue", null, null, "wc2", new { page = 3 }, new { @class = "workscited-links" })) 
            and “someone suffocated who suddenly stops struggling” 
            (@Html.ActionLink("23", "Nicole_Cooley", "Issue", null, null, "wc2", new { page = 3 }, new { @class = "workscited-links" })). 
        </p>
        <p>
            Throughout the poem, Dent re-writes Plaths’ “O-gape of complete despair” into a world in which her 
            body is being “whittle[d] down to horse feed pellets” 
            (@Html.ActionLink("23", "Nicole_Cooley", "Issue", null, null, "wc2", new { page = 3 }, new { @class = "workscited-links" })). 
            Towards the end of the poem, Dent’s 
            testimony departs from Plath’s metaphors and offers her own:
        </p>
        <div class="excerpt-formatting-2">
            I have fallen a long way. I lie at the bottom, smashed<br />
            Like a dinner plate against kitchen tile, china cups and jagged bits.<br />
            I lie at the bottom, shattered and dangerous, looking up<br />
            With a baby’s stunned engrossment. I’m moving closer to Pluto and Mars.<br />
            Clouds are flowering blue and mystical over the face of the stars, --<br />
            It will not be quick. Death drinks me in, slow syrup. 
            (@Html.ActionLink("24", "Nicole_Cooley", "Issue", null, null, "wc2", new { page = 3 }, new { @class = "workscited-links" }))
        </div>
        <p>
            In these lines, Dent literally abandons the moon of Plath’s poem to approach “Pluto and Mars.” The 
            moon as mother from Plath’s poem shifts to the speaker as the child, the “baby” lying “at the bottom, 
            smashed.” And here, Dent offers an explicit contrast with Plath: “blue and mystical” and “flowering” 
            clouds are juxtaposed with the declaration “It will not be quick. Death drinks me in. . . “
        </p>
        <p>
            Unlike her other uses of other poems within her own throughout Black Milk, in “The Moon and the Yew Tree” 
            Dent positions Plath’s poem as the frame for her own: Plath’s first line opens Dent’s poem and her last 
            line closes the poem. It is as if Dent’s poem occurs within Plath’s poem. The interior lines quoted from 
            Plath work like jump cuts in film, both connecting yet exposing the seams between pieces of texts. Plath 
            interrupts Dent. Dent interrupts Plath. The beautiful surface of Plath’s poem is continually disrupted. 
            Dent builds on Plath, Dent bears witness to Plath, Dent turns Plath’s bleak, cold despair into a terrible 
            series of bodily sensation.
        </p>
        <p>
            Finally, the death in life that Plath describes in “The Moon and the Yew Tree” -- and in so many of her 
            late poems -- is a state of contradiction. This contradiction is central to Dent’s representation of 
            living with AIDS. As Dent asserts in Black Milk’s title poem, “I will not say I’m fortunate, I will not 
            say I’m lucky/ traitor to the living, traitor to the dead” 
            (@Html.ActionLink("51", "Nicole_Cooley", "Issue", null, null, "wc2", new { page = 3 }, new { @class = "workscited-links" })). 
        </p>
        <p>
            Tory Dent died of an AIDS related infection at age 47, at home in New York City, on December 30, 2005. 
            This paper is dedicated to her memory.
        </p>
        <div id="article-workscited">
            <span id="article-workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>Chambers, Ross. <span class="book-title">Untimely Interventions: AIDS Writing, Testimonial, and the Rhetoric of Haunting</span>. Ann Arbor: University of Michigan, 2004.
            </p>
            <p>
                <a name="wc2"></a>Dent, Tory. <span class="book-title">Black Milk</span>. Riverdale-on-Hudson, NY: The Sheep Meadow Press, 2005.
            </p>
            <p>
                <a name="wc3"></a><span style="border-bottom:1px solid #cec8c8;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>. <span class="book-title">HIV, Mon Amour</span>. Riverdale-on-Hudson, NY: The Sheep Meadow Press, 1999. 
            </p>
            <p>
                <a name="wc4"></a>Plath, Sylvia. <span class="book-title">Ariel: The Restored Edition</span>. New York: Harper Collins, 2004. 
            </p>
            <p>
                <a name="wc5"></a>Treichler, Paula A. <span class="book-title">How to Have Theory in an Epidemic: Cultural Chronicles of AIDS</span>. Durham, NC: Duke University Press, 1999.
            </p>
        </div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>