@using pilotlightjournal.org.Models
@model WorkViewModel
@{
    ViewBag.Title = "Pilot Light Journal - " + Model.Work.Issue.Name + 
        (Model.Work.Contributor != null ? " - " + Model.Work.Contributor.FirstName + " " + Model.Work.Contributor.LastName : string.Empty) + " - " + Model.Work.Title;
    Layout = Request.Browser.IsMobileDevice
        ? "~/Views/Shared/_MobileArticleLayout.cshtml"
        : "~/Views/Shared/_ArticleLayout.cshtml";
    
}
@if (!Request.Browser.IsMobileDevice) { <link href="@Url.Content("~/Content/" + Model.Work.Issue.StyleSheet)" rel="stylesheet" type="text/css" />}
<div id="article-container">
    <div id="article">
        @* Add top of the page paging links *@
        @if (Model.Work.Pages.Count > 1) {
            <div class="article-paging">
                <ul>
                    @foreach (pilotlightjournal.org.Models.Page p in Model.Work.Pages) {
                        <li>@Html.NavLink(p.Order.ToString(), "Work",
                             new { issueId = Model.Work.Issue.IssueId, workId = Model.Work.WorkId, page = p.Order })</li>
                    }   
                    @if (!Request.Browser.IsMobileDevice) {<li>@Html.NavLink("View All", "Work", new { issueId = Model.Work.Issue.IssueId, workId = Model.Work.WorkId, page = 0 })</li>}
                </ul>
            </div>
        }
        <div id="article-information">
            <div class="title">@Html.Raw(Model.Work.Title)</div>
            @if(Model.Work.Contributor != null){
                <div class="author">@Html.ActionLink(Model.Work.Contributor.FirstName + " " + Model.Work.Contributor.LastName,
                        "Contributors", null, null, null, Model.Work.Contributor.FirstName + "-" + Model.Work.Contributor.LastName, 
                        new { area = "", controller = "Home" }, null)</div>
            }
       
            @* Add continued from link *@
            @if (Model.Page > 1) {
                <div class="continued">(Continued from @Html.NavLink("Page " + (Model.Page - 1).ToString(), "Work", 
                                                            new { issueId = Model.Work.Issue.IssueId,  workId = Model.Work.WorkId, page = Model.Page - 1 }))</div>
            }
        </div>
        <div id="article-top-sidebar">
            @if(Model.Work.Partials.Count(x => x.Type == "WorkSideBar") > 0) {Html.RenderPartial(Model.Work.Partials.FirstOrDefault().Name);}
        </div>
        @foreach (pilotlightjournal.org.Models.Page p in Model.Work.Pages) {
            if (Model.Page == 0 || Model.Page == p.Order) {
                Html.RenderPartial(p.Url); 
            }
        }

        @* Add continue to link *@
        @if (Model.Page != 0 && Model.Page < Model.Work.Pages.Count) {
            <div class="continued continued-to">(Continue to @Html.NavLink("Page " + (Model.Page + 1).ToString(), "Work", 
                                                        new { issueId = Model.Work.Issue.IssueId,  workId = Model.Work.WorkId, page = Model.Page + 1 }))</div>
        }
        
        @* Add bottom of the page paging links *@
        @if (Model.Work.Pages.Count > 1) {
            <div class="article-paging">
                <ul>
                    @foreach (pilotlightjournal.org.Models.Page p in Model.Work.Pages) {
                        <li>@Html.NavLink(p.Order.ToString(), "Work",
                             new { issueId = Model.Work.Issue.IssueId, workId = Model.Work.WorkId, page = p.Order })</li>
                    }   
                    @if (!Request.Browser.IsMobileDevice) { <li>@Html.NavLink("View All", "Work", new { issueId = Model.Work.Issue.IssueId, workId = Model.Work.WorkId, page = 0 })</li>}
                </ul>
            </div>
        }            
    </div>
</div>
@section scripts{}