@model pilotlightjournal.org.Models.Issue

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ReleaseDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ReleaseDate)
    @Html.ValidationMessageFor(model => model.ReleaseDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Completed)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Completed)
    @Html.ValidationMessageFor(model => model.Completed)
</div>

