@model IEnumerable<pilotlightjournal.org.Models.Issue>

@{
    ViewBag.Title = "Issue Archive";
}

<div id="pagetitle">Archive</div>

<table>
    <tr>
        <th></th>
        <th>
            ReleaseDate
        </th>
        <th>
            Works
        </th>
        <th>
            Completed
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IssueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IssueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IssueId })
        </td>
        <td>
			@String.Format("{0:g}", item.ReleaseDate)
        </td>
        <td>
			@(item.Works == null ? "None" : item.Works.Count.ToString())
        </td>
        <td>
			@item.Completed
        </td>
    </tr>
}

</table>


