<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="description" content="Pilot Light is an on-line journal of 21st century poetics and criticism." />
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab&v1' rel='stylesheet' type='text/css' />
        <link href="@Url.Content("~/Content/pilotlightjournal.css")" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="entrance-header">
            <div id="entrance-header-title">Pilot&nbsp;Light</div>
            <div id="entrance-header-subtitle">A Journal of 21<span class="superscript">st</span> Century Poetics and Criticism</div>
            <div id="entrance-header-line">&nbsp;</div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer-right-nav">
            @Html.NavLink("About", "About", "Home")&nbsp;|&nbsp;
            @Html.NavLink("Submissions", "Submissions", "Home")&nbsp;|&nbsp;
            @Html.NavLink("Contact", "Contact", "Home")
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
        <script src="http://ui.jquery.com/latest/ui/effects.core.js" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.color.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/pilotlightjournal.js")" type="text/javascript"></script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22928619-1']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        @RenderSection("Scripts")
    </body>
</html>
