<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="description" content="Pilot Light is an on-line journal of 21st century poetics and criticism." />
        <link href="@Url.Content("~/Content/mobile_pilotlightjournal.css")" rel="stylesheet" type="text/css" />
        <link rel="Shortcut Icon" href="@Url.Content("~/Content/favicon.ico")" />
    </head>

    <body>
        <div id="article-header">
            <div id="article-header-title">@Html.ActionLink("Pilot  Light", "Index", new { area = "", controller = "Home" }) </div>
            <div id="article-header-subtitle">A Journal of 21<span class="superscript">st</span> Century Poetics and Criticism</div>
            <div id="article-header-line">&nbsp;</div>
            <div id="article-header-right-nav">
                @*@Html.NavLink("Current Issue", "Index", new { area = "Issue1", controller = "Issue1" })&nbsp;|&nbsp;
                @Html.NavLink("Contributors", "Contributors", new { area = "", controller = "Home" })&nbsp;|&nbsp;*@
                @Html.NavLink("About", "About", new { area = "", controller = "Home" })
            </div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="plugins">
            <div id="plugins-rss">@Html.Raw(Html.ActionLink("[replacethis]", "RssFeed", new { area = "", controller = "Home" }).ToString().Replace("[replacethis]", "<img src=\"/content/rss_orange.png\" width=\"30\" />"))</div>
            <div id="plugins-facebook">
                <div id="fb-root"></div>
                <script src="http://connect.facebook.net/en_US/all.js#appId=151583114929158&amp;xfbml=1"></script>
                <fb:like href="https://www.facebook.com/pages/Pilot-Light/251396038226389" send="false" layout="button_count" 
                    show_faces="false" colorscheme="light" font="arial"></fb:like>
            </div>
        </div>
        <div style="clear:both;"><br /><br /><br /></div>
    </body>
    <script src="@Url.Content("~/Scripts/jquery-1.5.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/pilotlightjournal.js")" type="text/javascript"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22928619-1']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    @RenderSection("scripts")
</html>
