<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented center">1</p>
        <p class="indented with-spacing">
            In her poem “What Calendars Have Become,” Tory Dent describes her poetics: “I refer to the world but I speak of the body” (@Html.ActionLink("35", "Work", "Issue", null, null, "wc2", new { page = 2 }, new { @class = "workscited-links" })). Diagnosed with 
            HIV at age 30, Dent has written three books of poetry—<em>What Silence Equals</em> (1993), <em>HIV, Mon Amour</em> (1999), and <em>Black Milk</em> (2005)—which explore 
            AIDS and its range of social, political and personal implications. She is, to my knowledge, the only woman poet in America to publish multiple 
            volumes of poems about living with HIV and AIDS. Yet all of Dent’s work resists being classified as “representative” poetry about AIDS. In 
            fact, as I will explore here, her work resists representation itself and continually underscores the inadequacy of language to describe the 
            experience of living and dying with AIDS. With its reliance on strategies of Language Poetry and the New York School, its long Whitmanesque 
            line structure, its web of allusions, and its complex syntactic patterning, Dent’s poetry challenges our assumptions about writing about both 
            the world and the body.
        </p>
        <p class="indented">
            The body Dent refers to above and elsewhere in her work is always a female body, but here again Dent resists easy categorization: it is a female body 
            identified with gay male bodies, a female body suffering as those bodies suffer. And it is not a private, individual body. In her final volume, 
            <em>Black Milk</em>, which is my focus in this essay, Dent titles her poems about HIV and AIDS after poems by such writers as John Donne and Paul Celan, 
            and employs the other poets’ language within her own to show how the body under siege exists throughout history. Dent’s individual body in these poems 
            is always a social body.         
        </p>
        <p class="indented">
            In this essay, I will frame Dent’s poetics of resistance through a reading of her work in terms of these contradictions that surround her evocation of 
            the body. Specifically, I will look closely at her poem “The Moon and the Yew Tree,” which explicitly locates Sylvia Plath’s poem of the same name as 
            an intertext. Dent’s use of Plath’s work is interesting because it asks us to consider gender and the female body so directly.                        
        </p>
        <p class="not-indented center with-spacing">2</p>
        <p class="indented with-spacing">
            Just as her work does not fit easily into the category “AIDS poetry,” Dent’s writing does not comfortably align itself with dominant traditions of 
            “women’s poetry.” For the most part, her poems appear not in anthologies of women’s writing but in volumes of AIDS poetry (such as <em>In the 
            Company of My Solitude</em>) and experimental work (<em>The Exact Change Yearbook</em>). The one “women’s anthology” in which Dent’s work appears 
            is <em>Bearing Life: Women’s Writing on Childlessness</em> (edited by the late Rochelle Ratner). In this book, Dent has contributed a selection 
            from an unpublished memoir, titled “The Deferred Dream.” Dent writes:
        </p>
        <p class="excerpt-spacing">
            Writing about my living with AIDS is always painful for me. But it is—always—what I write about; I can’t think of anything else to say. In the 
            desire to write is the desire to communicate, I believe. I’m sharing with someone and in that process trying to understand myself what I’m 
            thinking or feeling . . . .  By writing I hope to feel closer to the world. It’s what I want. It’s more and more what I want as I lose slowly, 
            incrementally, unpredictably and of course unfortunately my physical grip on the world. It is AIDS weakens my grip . . .  My organic body, born 
            into this world and made up of this world as its by-product, is the rejecting factor. (@Html.ActionLink("122", "Work", "Issue", null, null, "wc2", new { page = 2 }, new { @class = "workscited-links" }))
        </p>
        <p class="not-indented">
            In this passage, the body presents a terrible paradox: as Dent loses her “physical grip” on the world and uses her writing to bring her 
            closer to the world, it is her body that rejects that closeness. It is significant that this passage opens Dent’s piece on wanting a child—and 
            having an abortion as she was urged to do because of her HIV status—and that it is included in the volume of women writers. Furthermore, it 
            is significant that Dent is classified here as a woman writer in a prose collection.
        </p>
        <p class="indented">
            Yet the experience Dent evokes in her work is crucial. Although current literary criticism seems oddly uncomfortable with Tory Dent’s poetic 
            linking of the female body, the gay male body, the social body and AIDS in her work, it is important to remember that AIDS is currently the 
            third most deadly disease for women in the US. And women now make up 25% of all new HIV/AIDS diagnoses in this country (“Women and HIV/AIDS: 
            An Overview, Elinor Nauen and Bonnie Goldman). <span class="superscript lit">1</span> Paula Treichler writes, “Despite documented cases of AIDS from almost the beginning of the 
            epidemic, AIDS was assumed by most of the medical and scientific community to be a ‘gay disease’ or a ‘male disease’—assumed, that is, to be 
            different from other sexually transmitted disease” (@Html.ActionLink("42", "Work", "Issue", null, null, "wc5", new { page = 2 }, new { @class = "workscited-links" })). Even in 2011, more than twenty years after the epidemic was first named, I have seen 
            this disbelief about women and AIDS in the college classrooms without exception every time I begin a discussion of Dent’s work. And as soon as 
            we start talking about women and AIDS, my students always want to know how Dent contracted HIV. I ask them why this matters, which often leads 
            to a conversation about stigma—what it means to be an AIDS “victim”—that can be valuable. <span class="superscript lit">2</span>
        </p>
        <p class="indented">
            Finally, while Tory Dent’s work resists categorization as AIDS poetry and women’s poetry, it also resists in another ways that have to do with 
            her linguistic strategies. Her work investigates real, material bodily experience but does so through a poetics of resistance. Her poems 
            constantly expose language’s formal limits and yet it is at every moment a project of bearing witness to atrocity. For example, Dent continually 
            challenges writing as a mode of discourse through her invocation of other art forms. Her work is not simply ekphrastic but it borrows the 
            techniques of music, film and photography. In Dent’s first book <em>What Silence Equals</em>, music or sound is the dominant trope that signifies 
            writing (several poems are noted as being written to songs and one poem is titled “Poems in American Sign Language”).  And in her second, <em>HIV 
            Mon Amour</em>, photography and film play a central role as she deploys jump cuts, frames and cropping of images to make her poems, <em>In Black 
            Milk</em>, the poems offer very direct poetic intertextualties; Dent titles them after well-known poems and employs the other poets’ language 
            within her own.  
        </p>
        <p class="indented end">
            My reading of Dent’s work follows several recent literary and cultural studies that look both back and forward at the AIDS epidemic in the context 
            of multiple kinds of writing. Paula Treichler’s assertion in <em>How To Have Theory in An Epidemic: Cultural Chronicles of AIDS</em> that AIDS is 
            an “epidemic of signification” (@Html.ActionLink("19", "Work", "Issue", null, null, "wc5", new { page = 2 }, new { @class = "workscited-links" })), that AIDS cannot just be read by language but that it is constructed <em>through language</em>, in particular 
            the language of biomedicine, and that an understanding of AIDS’ multiple and at times contradictory meanings is crucial to our understanding of 
            the disease. “Signification” and its relation to disease is a central focus for Dent; her poetics are inseparable from AIDS and its significations. 
            As well, in <em>Untimely Interventions: AIDS Writing, Testimonial and the Rhetoric of Haunting</em>, Ross Chambers notes that “witnessing” is 
            usually understood through ideas of legal testimony—as ”honest and direct, straightforward and unproblematic—the simple report of a reliable 
            eyewitness” (@Html.ActionLink("18", "Work", "Issue", null, null, "wc1", new { page = 2 }, new { @class = "workscited-links" })). This is exactly what Tory Dent’s work complicates and at times even refuses.
        </p>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
                <li id="foot1" style="top:2060px; position:relative;">
                    <p>
                        In 1985, in the first years of the epidemic, women and adolescent girls made up only 7 percent of reported AIDS cases in the United States. 
                        (“Women and HIV/AIDS: An Overview, by Elinor Nauen and Bonnie Goldman, “The Body/The Complete HIV/AIDS Resource,” January 9, 2006, 
                        <a href="http://www.thebody.com/Forums/AIDS/SafeSex/Archive/TransmissionNon/Q171082.html">
                        http://www.thebody.com<br />/Forums/AIDS/SafeSex<br />/Archive/TransmissionNon<br />/Q171082.html</a>.)
                    </p>
                </li>
                <li id="foot2" style="top:2170px; position:relative;">
                    <p>
                        Disturbingly, I have found that this question frequently arises outside the classroom too. On the website thebody.com, dedicated to providing 
                        information and resources about HIV and AIDS, a reader wrote in to ask the resident doctor, “This may be politically incorrect of me—but I was 
                        wondering if you knew how she got HIV? I heard it was from a blood transfusion.” To which “Dr. Bob” replied: “Tory Dent was a poet, essayist 
                        and art critic whose verse vividly revealed her life and struggle with AIDS. What possible reason could you have for wanting to know how she 
                        became infected? Hopefully you do not believe she would be more of an ‘innocent victim’ if she acquired the virus via a blood transfusion rather 
                        than sexually? The best answer to ‘how she got HIV’ is really quite simple: ‘it doesn’t matter!’ Rather than spending time wondering how the 
                        virus found Tory, I suggest you read her work. I’ll reprint a portion of the title poem from ‘Black Milk’ below."
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>