<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented center">3.</p>
        <p class="indented with-spacing">
            Dent’s poem “The Moon and the Yew Tree” from <em>Black Milk</em> is illustrative of her poetics of resistance and offers an important way to think about 
            that resistance in terms of gender and the gendered body. The poem adopts Sylvia Plath’s title “The Moon and the Yew Tree” and situates Plath’s poem 
            within Dent’s own framework. As I noted, <em>Black Milk</em> is comprised largely of poems that use this format, which invoke, embed and translate lines 
            from canonical, older (i.e. non-contemporary) poems. Notably, the use of Plath’s poem within Dent’s own marks the only instance of a woman poet as model 
            and intertext within the book. (Other poems Dent uses are by Rilke, Hopkins, Donne and Celan.) The question arises: why does Tory Dent invoke Sylvia 
            Plath? I don’t mean to position Plath here as a kind of literary mother figure or to trace a clear line of influence. Indeed, many contemporary women 
            poets would probably assert Plath’s importance for their work. Nevertheless, Plath’s use of tropes of death and dying, the ways in which her speaker’s 
            female identity is often performative, and the way in which her work functions as a testimonial are all significant for Dent’s poetics. 
        </p>
        <p class="indented">
            Dent’s use of Plath is not simply a one to one correspondence. From the poem’s first moment, Dent makes Plath’s image of death both metaphorical and 
            highly literal:
        </p>
        <pre class="preformatted-font preformatted-spacing extra-line-height">
        <em>This is the light of the mind, cold and planetary.
        The trees of the mind are black.</em> Their irregular branches,
        like broken arms backlit from MRI dye, offset by yearning.
        They take form in ways only experts can decipher. (@Html.ActionLink("22", "Work", "Issue", null, null, "wc4", new { page = 2 }, new { @class = "workscited-links" }))
        </pre>
        <p class="not-indented">
            Here, Plath’s “trees of the mind” open the poem, and Plath not Dent is the first to speak. Yet Dent immediately concretizes the abstract image, 
            moving from the “mind” right to the ill body (the MRI). A similar rhetorical move occurs in the fourth stanza: “<em>The moon is no door. It is 
            a face in its own right. / White as a knuckle and terribly upset.</em> I identify with its nausea.” Again, the moon as metaphor is grounded in 
            the body, in illness’s bodily sensations, as “upset” becomes, for Dent, “nausea.” 
        </p>
        <p class="indented">
            If, as Treichler maintains, AIDS is also constructed through language, then Dent’s use of the vocabulary of biomedicine (the MRI, for instance) 
            read through Sylvia Plath’s representation of the “cold and planetary” mindscape is a way to describe a female experience of living with HIV and 
            AIDS. Refracted through the words of one of the foremost—and most famous—twentieth century American women poets who wrote so openly about death, 
            Dent’s poem takes on a new valence. Death, in Dent’s version of the poem, is always resolutely physical while she extends Plath’s metaphors and 
            weaves them with her own. The poem never flinches from its depiction of the material dying body: “the scraped out bottom of a uterine nothing” 
            (@Html.ActionLink("22", "Work", "Issue", null, null, "wc4", new { page = 2 }, new { @class = "workscited-links" })) and “someone suffocated who suddenly stops struggling” (@Html.ActionLink("23", "Work", "Issue", null, null, "wc4", new { page = 2 }, new { @class = "workscited-links" })). 
        </p>
        <p class="indented">
            Throughout the poem, Dent re-writes Plath’s’ “O-gape of complete despair” into a world in which her body is being “whittle[d] down to horse feed 
            pellets” (@Html.ActionLink("23", "Work", "Issue", null, null, "wc4", new { page = 2 }, new { @class = "workscited-links" })).  Towards the end of the poem, Dent’s testimony departs from Plath’s metaphors and offers her own:  
        </p>
        <pre class="preformatted-font preformatted-spacing extra-line-height">
        <em>I have fallen a long way</em>. I lie at the bottom, smashed
	    Like a dinner plate against kitchen tile, china cups and jagged bits.
	    I lie at the bottom, shattered and dangerous, looking up
	    With a baby’s stunned engrossment. I’m moving closer to Pluto and Mars.
	    <em>Clouds are flowering blue and mystical over the face of the stars, </em>—
	    It will not be quick. Death drinks me in, slow syrup. (@Html.ActionLink("24", "Work", "Issue", null, null, "wc4", new { page = 2 }, new { @class = "workscited-links" }))
        </pre>
        <p class="not-indented">
            In these lines, Dent literally abandons the moon of Plath’s poem to approach “Pluto and Mars.” The moon as mother from Plath’s poem shifts to the speaker 
            as the child, the “baby” lying “at the bottom, smashed.” And here, Dent offers an explicit contrast with Plath: “blue and mystical” and “flowering” clouds 
            are juxtaposed with the declaration “It will not be quick. Death drinks me in. . . ” There is also a sonic echo here, as “mystical” and “drink” and “syrup” 
            link together. On the one hand, Dent analogizes clinical depression and AIDS. Yet at the same time these lines could be read—to extend my claim here—as 
            Dent taking Plath’s evocation of the death-in-life that is depression and turning the death into something imminent and physical. 
        </p>
        <p class="indented">
            The fact that Dent places “a baby” in Plath’s poem is also significant here. One of the first woman poets to write about motherhood (and daughterhood) in 
            all its complications, Plath does not position her speaker as a mother in her poem but rather as a daughter: “The moon is my mother” (@Html.ActionLink("18", "Work", "Issue", null, null, "wc4", new { page = 2 }, new { @class = "workscited-links" })). Reading this 
            poem against the essay I quoted earlier, about Dent’s abortion because of her disease, her use of Plath becomes more complex. Bringing the baby into the 
            poem is an act of resistance, and through metaphor, the speaker becomes the baby not the mother.
        </p>
        <p class="indented">
            Unlike her other uses of other poems within her own throughout <em>Black Milk</em>, in “The Moon and the Yew Tree” Dent positions Plath’s poem as the frame 
            for her own: Plath’s first line opens Dent’s poem and her last line closes the poem. It is as if Dent’s poem occurs within Plath’s poem. The interior lines 
            quoted from Plath work like jump-cuts in film, both connecting yet exposing the seams between pieces of texts. Plath interrupts Dent. Dent interrupts Plath. 
            The beautiful surface of Plath’s poem is continually disrupted. Dent builds on Plath, Dent bears witness to Plath, Dent turns Plath’s bleak, cold despair into 
            a terrible series of bodily sensation.
        </p>
        <p class="indented">
            Finally, and most importantly, the death in life that Plath describes in “The Moon and the Yew Tree”—and in so many of her late poems—is a state of 
            contradiction and resistance. This contradiction is central to Dent’s representation of living with AIDS. As Dent asserts in <em>Black Milk’s</em> title poem, 
            “I will not say I’m fortunate, I will not say I’m lucky / traitor to the living, traitor to the dead” (@Html.ActionLink("51", "Work", "Issue", null, null, "wc5", new { page = 2 }, new { @class = "workscited-links" })). 
            These lines again underscore Dent’s poetics of resistance. Her writing is dependent on the collapsing of every binary opposition we might want to use to 
            think about her poems.
        </p>
        <p class="indented end">
            Tory Dent died of an AIDS related infection at age 47, at home in New York City, on December 30, 2005. This paper is dedicated to her memory.
        </p>       
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>Chambers, Ross. <em>Untimely Interventions: AIDS Writing, Testimonial, and the Rhetoric of Haunting</em>. Ann Arbor: University of Michigan, 2004.
            </p>
            <p>
                <a name="wc2"></a>Dent, Tory. <em>Black Milk</em>. Riverdale-on-Hudson, NY: The Sheep Meadow Press, 2005.
            </p>
            <p>
                <a name="wc3"></a>________. <em>HIV, Mon Amour</em>. Riverdale-on-Hudson, NY: The Sheep Meadow Press, 1999. 
            </p>
            <p>
                <a name="wc4"></a>Plath, Sylvia. <em>Ariel: The Restored Edition</em>. New York: Harper Collins, 2004.
            </p>
            <p>
                <a name="wc5"></a>Treichler, Paula A. <em>How to Have Theory in an Epidemic: Cultural Chronicles of AIDS</em>. Durham, NC: Duke University Press, 1999. 
            </p>
        </div>		
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>